.nav {
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	background: rgb(0, 5, 36);
		background: linear-gradient(360deg, rgba(0, 5, 36, 1) 0%, rgba(9, 41, 121, 1) 35%, rgba(189, 0, 255, 1) 100%);

}

.logolink {
	display: block;
	color: white;
	text-decoration: none;
}

.link {
	color: white;
	font-weight: bold;
	display: block;
	margin-left: 1rem;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 0.75em;
	padding-bottom: 0.75em;

	&:focus,
	&:hover {
		color:var(--c-blue);
	}
}

.monogram {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	margin-right: 0.5rem;
	color: var(--c-blue);
	font-weight: 900;
	letter-spacing: -0.125rem;
	border: 3px solid currentColor;
	border-radius: 50%;
}

.social {
	display: block;
	margin-left: auto;

	+ .social {
		margin-left: 0.75rem;
	}
}

.socialicon {
	display: block;
	width: 2rem;
	height: 2rem;
	fill: var(--t-subdue);
	transition: fill linear 150ms;

	&:hover {
		fill: var(--t-active);
	}
}
